@import "tailwindcss";

@theme {
  
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-Mukta: "Mukta", cursive;

  /* Colores extendidos */
  --color-primary: #111111;
  --color-secundary: #A00;

  /* Animaciones personalizadas */
  --animate-fadeIn: fadeIn 0.5s ease-in;
  --animate-fadeOut: fadeOut 0.5s ease-out;
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
}

/* Utilidad personalizada de scrollbar */
@utility scrollbar-custom {
  scrollbar-width: auto;
  &::-webkit-scrollbar { width: 10px; }
  &::-webkit-scrollbar-track { background: transparent; }
  &::-webkit-scrollbar-thumb {
    background: #830101;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover { background: red; }
}

@font-face{
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face{
  font-family: 'Mukta';
  src: url('/fonts/Mukta.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}