---
import Layout from "../layouts/Layout.astro"
---
<main class="max-w-7xl mx-auto h-full animate-fadeIn">
  <div class="w-auto h-screen flex flex-col items-center justify-center  text-center ">
    <h1 class="text-secundary  font-bold text-[12rem] animate-bounce">4<strong class="text-white/80">0</strong>4</h1>
    <p class="text-white text-5xl font-semibold -mt-10 text-pretty"> Oops! Algo ha salido mal! </p>
    <!-- <p class=" text-white text-3xl text-pretty font-semibold mt-5"> Intenta regresar a la pagina inicial</p>-->

    <a href="/" class="p-4 rounded-lg font-bold mt-20 text-xl -skew-y-1 bg-white animate-pulse hover:scale-105 transition-transform duration-100"> Regresar a la pagina principal</a>
  </div>
</main>

<style>
  body{
    background-color: black;
  }
</style>