---
import Layout from "../layouts/Layout.astro"
import BlogPost from "../components/BlogPost.astro"
const blogTitle = 'Mi blog de Astro aprendizaje'
const allPosts = await Astro.glob('../pages/posts/*.md')
---
<Layout pageTitle={blogTitle}>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
  <ul>
    {allPosts.map( post => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</Layout>