---
import '@fontsource/luckiest-guy';
import Layout from "../layouts/Layout.astro"
import ShiniText from "../components/ShiniText.astro"
---
<Layout title="Home">

 <div class="">
    <div class="text-center text-9xl hover:text-white">
      <ShiniText text="Luis Barrios" disabled={false}  />
    </div>
    <h2 class="text-center text-white text-4xl">Desarrollador de Software</h2>
  </div>
  <div class="text-white bg-secundary h-screen">
    hola
  </div>
</Layout>

<style>
  
</style>