---
import '@fontsource/luckiest-guy';
import Proyectos from "../components/Proyectos.astro"
import Hero from "../components/Hero.astro"
import Layout from "../layouts/Layout.astro"
import ItemSeparated from '../assets/ItemSeparated.astro';
import SectionContainer from '../components/SectionContainer.astro';
---
<Layout >
  
    <SectionContainer>
      <Hero/>
    </SectionContainer>

    <ItemSeparated/>

    <div id="proyectos" class=" bg-secundary">
      <SectionContainer>
        <Proyectos/>
      </SectionContainer>
    </div>
    

    <div id="experiencia" class="h-screen bg-blue-700">
      <SectionContainer>
        <div>
          Hola
        </div>
      </SectionContainer>
    </div>
</Layout>