---
import Layout from "../layouts/Layout.astro"
import '@fontsource/luckiest-guy';
import background from "../assets/background.svg"
---
<Layout title="Home">
  

<!--   <div class="relative bg-[url('/backgroundInit.svg')] bg-scroll h-72 bg-no-repeat"></div>
 -->

 <div class="relative bg-[url('/backgroundInit.svg')] bg-cover h-[400px] bg-no-repeat bg-center w-full">
  <h1 class="text-center text-white text-9xl mt-44">Luis Barrios</h1>
  <h2 class="text-center text-white text-4xl my-1">Desarrollador de Software</h2>
  <p class=" text-center text-green-500 text-xl  border border-green-500 rounded-full px-4 py-1">
    Disponible
  </p>
</div>
  <div class="bg-secundary h-screen  text-white">
    <h2>CARDS</h2>
  </div>
  <div class="bg-primary h-screen relative text-white">
    separate
    <div class="-rotate-2">
      <div class="absolute bottom-7  bg-red-600 h-10 w-full"></div>
      <div class="absolute bottom-3  bg-red-500 h-10 w-full"></div>
      <div class="absolute bottom-0 bg-red-400 h-8 w-full"></div>
    </div>
    la casa
  </div>
  <div class="h-screen bg-gray-600 relative">
    <div class="custom-shape-divider-top-1738471140">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z" class="shape-fill"></path>
      </svg>
    </div>
    Construyendo Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo obcaecati cum vero hic totam doloremque aliquid minus. Atque iusto perspiciatis veniam a vero cumque totam, quibusdam quisquam saepe, sint debitis?
  </div>
</Layout>

<style>
  h1 {
    font-family: 'Luckiest Guy', system-ui;
  }
  .custom-shapes-divider-top-1738471140 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1738471140 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 72px;
}

.custom-shape-divider-top-1738471140 .shape-fill {
    fill: #111111;
}
</style>