---
import Proyectos from "../components/Proyectos.astro"
import Hero from "../components/Hero.astro"
import Layout from "../layouts/Layout.astro"
import ItemSeparated from '../components/ItemSeparated.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Formacion from '../components/Formacion.astro';
import AboutSection from '../components/AboutSection.astro'
---
<Layout >
  <main>
    <SectionContainer>
      <Hero/>
    </SectionContainer>

    <ItemSeparated color="fill-secundary/85" type="wave"/>

    <section id="proyectos" class=" bg-secundary/85">
      <SectionContainer>
        <Proyectos/>
      </SectionContainer>
      <ItemSeparated color="fill-primary" type="lit"/>
    </section>
    
    <section id="experiencia" class="">
      <SectionContainer>
        <Formacion/>
      </SectionContainer>
    </section>
    
    <section id="about" class="bg-red-900/50">
      <ItemSeparated color="fill-primary" type="triangulo"/>
      <SectionContainer>
        <AboutSection/>
      </SectionContainer>
    </section>
  </main>    
</Layout>