---
import '@fontsource/luckiest-guy';
import Proyectos from "../components/Proyectos.astro"
import Hero from "../components/Hero.astro"
import Layout from "../layouts/Layout.astro"
import ItemSeparated from '../assets/ItemSeparated.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Experiencia from '../components/Experiencia.astro';
---
<Layout >
  
    <SectionContainer>
      <Hero/>
    </SectionContainer>

    <ItemSeparated color="fill-secundary/85" type="wave"/>

    <section id="proyectos" class=" bg-secundary/85">
      <SectionContainer>
        <Proyectos/>
      </SectionContainer>
      <ItemSeparated color="fill-primary" type="lit"/>
    </section>
    

    <section id="experiencia" class="h-screen">
      <SectionContainer>
        <Experiencia/>
      </SectionContainer>
    </section>

    <section id="about" class="h-screen">

    </section>
</Layout>