---
import Layout from "../layouts/Layout.astro"
import background from "../assets/background.svg"
---
<Layout title="Home">
  

<!--   <div class="relative bg-[url('/backgroundInit.svg')] bg-scroll h-72 bg-no-repeat"></div>
 -->

 <div class="relative bg-[url('/backgroundInit.svg')] bg-cover h-[400px] bg-no-repeat bg-center w-full">
  <h1 class="text-center text-white text-7xl my-10">Luis Barrios De Le贸n</h1>
  <h1 class="text-center text-white font-mono text-7xl my-10">Luis Barrios De Le贸n</h1>
  <h1 class="text-center text-white font-serif text-7xl my-10">Luis Barrios De Le贸n</h1>
  <h1 class="text-center text-white font-sans text-7xl my-10">Luis Barrios De Le贸n</h1>
</div>
  <div class="bg-secundary h-screen  text-white">
    <h2>CARDS</h2>
  </div>
  <div class="bg-primary h-screen relative text-white">
    separate
    <div class="">
      <div class="absolute bottom-0 left-0 bg-red-600 h-10 w-full ">
      <div class="absolute bottom-5 left-0 bg-red-500 h-10 w-full ">
      <div class="absolute bottom-7 left-0 bg-red-400 h-10 w-full ">
    </div>
      La casa
    </div>
  </div>
  <div class="h-screen bg-gray-600">

  </div>
</Layout>