---
import Proyectos from "../components/Proyectos.astro"
import Hero from "../components/Hero.astro"
import Layout from "../layouts/Layout.astro"
import ItemSeparated from '../components/ItemSeparated.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Formacion from '../components/Formacion.astro';
import AboutSection from '../components/AboutSection.astro'
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
---
<Layout >
  <main>
    <SectionContainer id="hero">
      <Hero/>
    </SectionContainer>
    <ItemSeparated color="fill-secundary/80" type="wave"/>

    <section  class=" bg-secundary/80">
      <SectionContainer id="proyectos">
        <Proyectos/>
      </SectionContainer>
      <ItemSeparated color="fill-primary" type="lit"/>
    </section>
    
    <SectionContainer id="experiencia">
      <Formacion/>
    </SectionContainer>
    
    <section class="bg-gradient-to-b from-secundary/80 to-primary to-90%">
      <ItemSeparated color="fill-primary" type="triangulo"/>
      <SectionContainer id="about">
        <AboutSection/>
      </SectionContainer>
    </section>

    <SectionContainer id="contacto">
      <Contacto/>        
    </SectionContainer>
    
    <SectionContainer id="footer">
      <Footer/>
    </SectionContainer> 
    
  </main>    
</Layout>