---
import '@fontsource/luckiest-guy';
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import SectionContainer from '../components/SectionContainer.astro';
---
<Layout title="Home">
  
    <SectionContainer>
      <Hero/>
    </SectionContainer>

    <div class=" bg-secundary h-screen">
      <SectionContainer>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam hic tenetur odit voluptas soluta, libero ex. Explicabo obcaecati eum quis totam quibusdam aliquam praesentium, quo eaque veritatis ipsam modi dolorem!
        Officia provident incidunt laboriosam fugiat hic, labore repellat quidem pariatur, dolores quos perspiciatis beatae. Mollitia, laudantium fugiat iure ad vel, eum itaque molestiae error, alias architecto beatae nobis labore? Commodi.
        Omnis alias mollitia ipsum at veritatis delectus ipsa, consequatur, eveniet nostrum sunt quasi magnam! Aliquid, tempore alias, minima, labore adipisci perspiciatis tenetur natus voluptatem vero qui ducimus. Facilis, reiciendis rerum.
        Error, cumque consectetur repellendus accusantium dolorem ab sed deleniti enim aspernatur assumenda neque excepturi reprehenderit. Non temporibus tenetur dicta, eligendi perspiciatis cum id error illo amet sit, aperiam quibusdam excepturi.
        Mollitia voluptatibus, odit nostrum corporis ab animi officia! Aspernatur veritatis illo facere cum iste omnis molestiae, officia excepturi porro perferendis ab, quod eius? Excepturi, molestias ducimus officia neque esse vero!
        Reprehenderit neque dicta magni commodi non atque recusandae maiores animi rem molestias distinctio nam vitae, debitis voluptates laborum sed quibusdam eveniet cumque quis nulla, exercitationem consequatur? Hic laboriosam iure deleniti!
        Debitis iure fugit in non, assumenda sit eos fuga obcaecati tempore nihil, illum ullam hic deleniti numquam reprehenderit beatae doloremque maxime possimus! Qui reiciendis libero incidunt recusandae beatae exercitationem pariatur?
        Consequuntur error maxime rerum odit, deleniti perspiciatis possimus quam provident. Dolor sunt iusto quisquam aliquid dicta quaerat assumenda explicabo sapiente, ad reiciendis eveniet illum reprehenderit beatae consequatur nesciunt dolorum sit.
        Aut et sint provident atque sunt magni, adipisci nostrum iusto recusandae reprehenderit rem temporibus quas quo, commodi totam perspiciatis quasi reiciendis. Aspernatur reiciendis ea architecto libero illum ad cumque quia!
        Natus nemo hic facere explicabo quae sit voluptatibus omnis reiciendis. Sed sunt nulla dolorum ab natus suscipit eius necessitatibus accusamus tempore? Asperiores id perspiciatis nam doloremque autem, quibusdam quae eligendi.
        Autem blanditiis quis est animi ullam, aliquid dicta veritatis aperiam consequuntur ducimus commodi laborum architecto minima impedit delectus facere, ipsam eveniet quos alias nostrum laboriosam adipisci. Provident officiis voluptate similique.
        Corporis consectetur consequuntur, ullam placeat ad, dignissimos neque fugit dolorem laudantium nemo, est sint ducimus delectus deserunt eos laboriosam? Accusamus pariatur temporibus repellendus ad officia sed expedita debitis hic nemo.
        Ad error vel modi eligendi at impedit animi quis cum nesciunt, eum ex provident veniam harum doloribus ea atque exercitationem nostrum minima eos deserunt voluptas consectetur? Perferendis eum cupiditate excepturi!
        Fugit modi omnis earum blanditiis quam veritatis. Aut sint inventore quasi provident molestiae ducimus magnam, deserunt aliquid saepe voluptatum temporibus amet placeat nemo fugit minus! Mollitia excepturi odit quidem consequuntur?
        Cum commodi placeat sint, id dolorum, deserunt molestiae velit aut quaerat nisi neque quo accusamus quasi reprehenderit? Tempore culpa placeat, voluptate doloribus voluptates ad? Odit, quaerat. Provident quibusdam dicta iusto?
      </SectionContainer>
    </div>
  
</Layout>

<style>
  
</style>