---
import "@/styles/global.css";
---

<main class="max-w-7xl mx-auto h-full animate-fadeIn font-Montserrat">
  <div
    class="w-auto h-screen flex flex-col items-center justify-center text-center"
  >
    <h1 class="text-sky-500 font-bold text-[12rem] animate-bounce">
      5<strong class="text-white/80">0</strong>3
    </h1>
    <div class="flex flex-col gap-6">
      <p class="capitalize text-3xl font-bold text-white">
        Sitio en mantenimiento
      </p>
      <p class="text-white/75 text-2xl font-semibold mt-10 text-pretty">
        Oops! El sitio al que intentas acceder se encuentra <br /> temporalmente en
        mantenimiento!
      </p>
      <p
        class="text-white/80 text-2xl mb-20 md:text-3xl text-pretty font-semibold border-b-2 border-sky-500 w-max mx-auto"
      >
        Intenta acceder en un rato
      </p>
    </div>

    <!-- <a
      href="/"
      class="p-4 rounded-lg font-bold mt-20 text-xl -skew-y-1 bg-white animate-pulse hover:scale-105 transition-transform duration-100"
    >
      Regresar a la pagina principal</a
    > -->
  </div>
</main>

<style>
  html,
  body {
    background-color: black;
  }
</style>
