---
import '@fontsource/luckiest-guy';
import SkillWall from './SkillWall.astro';

---

<section>
  <h2 class="text-white text-4xl my-12">Conoce más sobre mí!</h2>
  <SkillWall
    direction='horizontal'
    pauseOnHover={true}
    size='clamp(8rem, 1rem + 20vmin, 25rem)'
    duration='10s'
    bgColor='#060606'
    bgAccentColor='#111111'
  />  
</section>

<style>
  h2{
    font-family: 'Luckiest Guy', system-ui;
  }
</style>