---
import { Image } from 'astro:assets';
import SkillWall from './SkillWall.astro';
---
<article>
  <h2 class="text-white font-Luckiest text-4xl my-12">Conoce más sobre mí!</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 ">
    <div class="py-5">
      <p class="text-white/80 tracking-wide">
        Soy un entusiasta por las nuevas tecnologías, tanto de software como de hardware, el aprendizaje continuo y la enseñanza. 
        <b class="text-rose-500">Cuento con 1 año de experiencia en el desarrollo de sistemas y páginas web.</b>
      </p>
      <p class="text-white/80 tracking-wide"> 
        Además, he utilizado varias tecnologías y herramientas de diseño y edición.
      </p>
      <p class="text-white/80 mt-2 tracking-wide">
        Vivo en Panamá, desde donde aplico mis habilidades y conocimientos tanto en proyectos colaborativos como independientes, 
        con el objetivo de ofrecer soluciones personalizadas, innovadoras, escalables y alineadas con las mejores prácticas de programación.
      </p>
      <p class="text-white/80 mt-2 tracking-wide">
        Entre mis hobbys se encuentra el desarrollo de puzzles, hacer senderismos y la lectura.
      </p>
      
    </div>

    <div class="inline-flex items-center justify-center py-5">  
      <Image
        height={1} 
        width={1} 
        src=`/src/assets/perfil.webp` 
        class="rounded-md object-cover aspect-video size-72 grayscale hover:grayscale-0 hover:scale-125 rotate-2 hover:rotate-6 transition-all" 
        alt="Luis Barrios"
      >
    </div>

    <div class="col-span-2 ">
      <h3 class="font-bold my-10 text-2xl">Áreas tecnológicas en las que tengo conocimientos:</h3>
      <SkillWall  />  
    </div>
  </div>
</article>