---
import '@fontsource/luckiest-guy';
import SkillWall from './SkillWall.astro';

---

<section>
  <h2 class="text-white text-4xl my-12">Conoce más sobre mí!</h2>
  <SkillWall  />  
</section>

<style>
  h2{
    font-family: 'Luckiest Guy', system-ui;
  }
</style>