---
  import CardTimeline from './CardTimeline.astro';
  import '@fontsource/luckiest-guy';
---
<div class="mb-0">
  <h2 class="text-white text-4xl my-12 text-center">&lt; Formación Academica /&gt;</h2>

    <div class="relative" id="timeline">

      <div class="absolute top-0 md:left-1/2 transform-cpu md:-translate-x-1/2 w-3 rounded-md timeline-line"></div>

      <div class="flex flex-col items-center relative gap-y-2">

        <!-- <div class="w-full flex justify-end md:justify-start  items-center ">
          <CardTimeline clases="">
            <h3 class="text-lg font-bold font-serif text-white">Bootcamp - Helsinki</h3>
            <p class="text-sm text-gray-300">2024 - 2025</p>
            <p class="mt-2 text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum cupiditate a mollitia delectus. Officiis quibusdam, ullam pariatur fuga deserunt obcaecati? Consectetur nesciunt quae illum incidunt neque? Praesentium repellendus mollitia deleniti.</p>
          </CardTimeline>
          <div class="absolute left-8 md:left-1/2 md:-translate-x-1/2 size-6 bg-red-500 rounded-full border-4 border-primary"></div>
        </div> -->
        <CardTimeline/>
        <CardTimeline/>

        <!-- <div class="w-full flex justify-end  items-center ">
          <CardTimeline clases="">
            <h3 class="text-lg font-bold font-serif text-white">Bootcamp - Helsinki</h3>
            <p class="text-sm text-gray-300">2024 - 2025</p>
            <p class="mt-2 text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum cupiditate a mollitia delectus. Officiis quibusdam, ullam pariatur fuga deserunt obcaecati? Consectetur nesciunt quae illum incidunt neque? Praesentium repellendus mollitia deleniti.</p>
          </CardAcademy>
          <div class="absolute left-8 md:left-1/2 md:-translate-x-1/2 size-6 bg-red-500 rounded-full border-4 border-primary"></div>
        </div> -->

      </div>
    </div>
  
</div>

<style>
  h2{
    font-family: 'Luckiest Guy', system-ui;
  }

  .timeline-line {
      background: linear-gradient(to bottom, rgb(133, 0, 0), #ff0000);
      transition: height 0.5s ease-in-out;
  }
</style>

<script>
  window.addEventListener('scroll', function () {
      const timeline = document.getElementById('timeline')!;
      const timelineLine = document.querySelector('.timeline-line') as HTMLElement;
      const scrollPosition = window.scrollY + window.innerHeight;
      const timelineTop = timeline.offsetTop;
      const timelineHeight = timeline.scrollHeight;
      
      // Calcula el progreso del scroll (0 a 1)
      const progress = Math.max(0, Math.min(1, (scrollPosition - timelineTop) / timelineHeight));
      
      // Ajusta la altura de la línea según el progreso
      timelineLine.style.height = `${progress * 100}%`;
  });
</script>