---
  import CardTimeline from './CardTimeline.astro'
  import data from "../data.json"
---
<div class="mb-0">
  <h2 class="text-white text-5xl my-12 font-Luckiest flex items-center justify-center gap-3">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
      </svg>   
    </span>
     Formación Académica 
  </h2>
  
  <div class="">
    <div class="relative" id="timeline">

      <div class="absolute top-0 md:left-1/2 transform-cpu md:-translate-x-1/2 w-3 rounded-md timeline-line"></div>

      <div class="flex flex-col  gap-y-2">
        {
          data.estudios.map( estudio => <CardTimeline {...estudio} />)
        }

      </div>
    </div>
  </div>
</div>

<style>
  .timeline-line {
      background: linear-gradient(to bottom, rgb(133, 0, 0), #ff0000);
      transition: height 0.5s ease-in-out;
  }
</style>

<script>
  window.addEventListener('scroll', function () {
      const timeline = document.getElementById('timeline')!;
      const timelineLine = document.querySelector('.timeline-line') as HTMLElement;
      const scrollPosition = window.scrollY + window.innerHeight;
      const timelineTop = timeline.offsetTop;
      const timelineHeight = timeline.scrollHeight;
      
      // Calcula el progreso del scroll (0 a 1)
      const progress = Math.max(0, Math.min(1, (scrollPosition - timelineTop) / timelineHeight));
      
      // Ajusta la altura de la línea según el progreso
      timelineLine.style.height = `${progress * 100}%`;
  });
</script>