---

--- 
<header class=" m-2 text-white flex flex-row justify-between p-4 font-bold bg-gray-300/10 sticky top-0">
  <h1 class="">&lt; Luis Barrios /&gt;</h1>
  <nav class="flex gap-5">
    <a href="/">Proyectos</a>
    <a href="/">Estudios</a>
    <a href="/">Contacto</a>
    <a href="/">Stack</a>
  </nav>
</header>