---
--- 
<header>
  <nav class="fixed top-0 w-full z-50 transition-all duration-300 bg-transparent font-bold " id="navbar">
    <div class="container mx-auto flex items-center justify-between p-3 max-w-5xl">
      <a href="https://github.com/OutziderDev/" rel="noopener noreferrer" class="text-2xl font-bold text-white">&lt; Luis Barrios /&gt;</a>
  
      <div class="hidden lg:flex space-x-4 text-lg">
        <a href="#experiencia" class="text-white hover:text-gray-300">Formación</a>
        <a href="#proyectos" class="text-white hover:text-gray-300">Proyectos</a>
        <a href="#about" class="text-white hover:text-gray-300">Sobre Mí</a>
        <a href="#contacto" class="text-white hover:text-gray-300">Contacto</a>
      </div>
  
      <!-- Botón de hamburguesa -->
      <button class="lg:hidden text-white focus:outline-none" id="menu-btn">
        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>
  
      <!-- Menú móvil -->
      <div class="absolute top-14 left-0 w-full bg-black/70 backdrop-blur-md shadow-md  lg:hidden flex flex-col items-center space-y-3 py-2 px-6" id="menu">
        <a href="#experiencia" class="text-white hover:text-gray-300">Formación</a>
        <a href="#proyectos" class="text-white hover:text-gray-300">Proyectos</a>
        <a href="#about" class="text-white hover:text-gray-300">Sobre Mí</a>
        <a href="#contacto" class="text-white hover:text-gray-300">Contacto</a>
      </div>
    </div>
  </nav>
</header>

<script>
  const navbar = document.getElementById('navbar')!;
  const menuBtn = document.getElementById('menu-btn')!;
  const menu = document.getElementById('menu')!;

  window.addEventListener('scroll', () => {
    if (window.scrollY > 10) {
      navbar.classList.add('bg-black/70', 'backdrop-blur-sm', 'shadow-md');
      navbar.classList.remove('bg-transparent')
    } else {
      navbar.classList.remove('bg-black/70', 'backdrop-blur-sm', 'shadow-md');
    }
  });

  menuBtn.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });
</script>