---
--- 
<header>
  <nav class="fixed top-0 w-full z-50 transition-all duration-300 bg-transparent font-bold " id="navbar">
    <div class="container mx-auto flex items-center justify-between px-3 py-3">
      <a href="#" class="text-2xl font-bold text-white">&lt; Luis Barrios /&gt;</a>
  
      <div class="hidden md:flex space-x-4 text-lg">
        <a href="#" class="text-white hover:text-gray-300">Experiencia</a>
        <a href="#" class="text-white hover:text-gray-300">Proyectos</a>
        <a href="#" class="text-white hover:text-gray-300">Sobre Mí</a>
        <a href="#" class="text-white hover:text-gray-300">Contacto</a>
      </div>
  
      <!-- Botón de hamburguesa -->
      <button class="md:hidden text-white focus:outline-none" id="menu-btn">
        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>
  
      <!-- Menú móvil -->
      <div class="absolute top-14 left-0 w-full bg-white/20 backdrop-blur-md shadow-md hidden md:hidden flex flex-col items-center space-y-3 py-2 px-6" id="menu">
        <a href="#" class="text-white hover:text-gray-300">Experiencia</a>
        <a href="#" class="text-white hover:text-gray-300">Proyectos</a>
        <a href="#" class="text-white hover:text-gray-300">Sobre Mí</a>
        <a href="#" class="text-white hover:text-gray-300">Contacto</a>
      </div>
    </div>
  </nav>
</header>

<script>
  const navbar = document.getElementById('navbar')!;
  const menuBtn = document.getElementById('menu-btn')!;
  const menu = document.getElementById('menu')!;

  window.addEventListener('scroll', () => {
    if (window.scrollY > 10) {
      navbar.classList.add('bg-white/30', 'backdrop-blur-md', 'shadow-md');
    } else {
      navbar.classList.remove('bg-white/30', 'backdrop-blur-md', 'shadow-md');
    }
  });

  menuBtn.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });
</script>