---
import SocialPills from './SocialPills.astro'
import ShiniText from "./ShiniText.astro"
---
<article class="animate-fadeIn mt-20 flex flex-col -mb-8">
  <p class="ml-0 md:ml-32 mt-5 text-center md:text-start text-4xl font-Luckiest font-bold 
            bg-gradient-to-b from-secundary/90 to-rose-200 text-transparent bg-clip-text"
  >
    Bienvenido! Yo soy..
  </p>
  <ShiniText text="Luis Barrios" />

  <h2 class="text-center text-white text-xl md:text-4xl font-bold opacity-80">Desarrollador de Software</h2>

  <div class="m-3 px-3 py-2 gap-2 border rounded-full border-gray-400/30 inline-flex items-center justify-center self-center">
    <span class="relative flex">
      <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
      <span class="relative inline-flex size-3 rounded-full bg-green-500"></span>
    </span>
    Disponible para colaborar
  </div>

  <p class="text-white/80 tracking-wide text-xl">
    Cuento con 
    <strong class="bg-gradient-to-b from-rose-400 from-60% to-rose-300 text-transparent bg-clip-text">
      más de un año de experiencia
    </strong> 
    en el desarrollo de sistemas y páginas web.  
  </p>
  <p class="text-white/80 tracking-wide text-xl">
    Gracias a mi formación académica y la creación de diversos proyectos, he adquirido conocimientos fundamentales en una variedad de 
    <strong class="bg-gradient-to-b from-rose-400 from-60% to-rose-300 text-transparent bg-clip-text">
      tecnologías de Front-end, Back-end y bases de datos.
    </strong>  
    Aplico estos conocimientos siguiendo las mejores prácticas de programación para desarrollar soluciones personalizadas, innovadoras y escalables.  
  </p>

  <SocialPills/>

</article>