---
import ShiniText from "./ShiniText.astro"
---
<div class="animate-fadeIn mt-28 mb-24 md:my-36 flex flex-col">

  <ShiniText text="Luis Barrios" disabled={false}  />
  <h2 class="text-center text-white text-xl md:text-4xl font-bold opacity-90">Desarrollador de Software</h2>

  <div class="m-3 px-3 py-2 gap-2 border rounded-full border-gray-400/30 inline-flex items-center justify-center self-center">
    <span class="relative flex">
      <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
      <span class="relative inline-flex size-3 rounded-full bg-green-500"></span>
    </span>
    Disponible para colaborar
  </div>

  <p class=" opacity-70">
    Graduado en Licenciatura de Desarrollo de Software con sólidos conocimientos en la creación de páginas    web y aplicaciones web en el área de proyectos de comercio electrónico. Gracias a mi formación
    universitaria, participé en diversos proyectos y adquirí conocimientos en una variedad de lenguajes de
    programación, Frameworks para el Front-end y el Back-end y bases de datos. Además, he desarrollado
    habilidades en el uso de diversas tecnologías y herramientas de diseño.
    He aplicado mis habilidades de manera cooperativa como independiente en proyectos personales y
    académicos, lo que me ha permitido desarrollar un enfoque proactivo y autodirigido hacia el aprendizaje y la
    resolución de problemas.
  </p>

</div>