---
import SocialPills from './SocialPills.astro'
import ShiniText from "./ShiniText.astro"
---
<div class="animate-fadeIn mt-24 flex flex-col">

  <ShiniText text="Luis Barrios" />

  <h2 class="text-center text-white text-xl md:text-4xl font-bold opacity-90">Desarrollador de Software</h2>

  <div class="m-3 px-3 py-2 gap-2 border rounded-full border-gray-400/30 inline-flex items-center justify-center self-center">
    <span class="relative flex">
      <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
      <span class="relative inline-flex size-3 rounded-full bg-green-500"></span>
    </span>
    Disponible para colaborar
  </div>

  <p class="text-white/80 tracking-wide">
    Entusiasta por las nuevas tecnologías, tanto de software como de hardware, el aprendizaje continuo y la enseñanza. 
    <b class="text-rose-500">Más de 1 año de experiencia en el desarrollo de sistemas y páginas web.</b>  
    Gracias a mi formación académica, he participado en diversos proyectos donde adquirí conocimientos básicos en una variedad de lenguajes de programación, 
    <b class="text-rose-500">frameworks para el Front-end y el Back-end, así como bases de datos.</b> 
    Además, he utilizado diversas tecnologías y herramientas de diseño y edición.
  </p>
  <p class="text-white/80 mt-2 tracking-wide">
    Aplico mis habilidades y conocimientos tanto en proyectos colaborativos como independientes, 
    con el objetivo de ofrecer soluciones personalizadas, innovadoras, escalables y alineadas con las mejores prácticas de programación.
  </p>

  <SocialPills/>

</div>