---
import '@fontsource/luckiest-guy';
import Cards from './Cards.astro';
---
<section class="scroll-smooth">
  <h2 class="text-white text-4xl my-12">&lt; Proyectos /&gt;</h2>

  <div class="flex flex-col gap-y-2">
    <Cards/>
    <Cards/>
  </div>

</section>

<style>
  h2{
    font-family: 'Luckiest Guy', system-ui;
  }
</style>