---
import '@fontsource/luckiest-guy';
const {text} = Astro.props
---
  <div class="shiny text-9xl bg-clip-text text-center"  >
    {text}
  </div>

<style>
  .shiny {
  color: #ffffffb1;
  font-family: 'Luckiest Guy', system-ui;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.921) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: -100%;
  }
}
</style>