---
const { text } = Astro.props
---
  <h1 class="shiny text-8xl font-Luckiest md:text-9xl bg-clip-text text-center text-wrap">
    {text}
  </h1>

<style>
  .shiny {
  color: #ffffffd9;
  background: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.978) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  animation: shine 1.6s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: -100%;
  }
}
</style>