---
const components = import.meta.glob("../assets/icons/*.svg", {eager: true})
const componentNames = Object.keys(components).map(path => 
  path.split('/').pop()?.replace('.svg', '')
);
const items = Object.values(components).map(module =>( module as {default:any}).default)
---

<article  class="flex flex-col gap-y-8 gap-x-3" >
    <div class="marquee relative flex overflow-hidden justify-start w-full select-none" id="marquee">
      <div class="marquee__group  flex items-center justify-around gap-x-4">
        {items.map((Item,index) => (
          <div class="size-30 border border-white/20 p-2 rounded-md bg-gradient-to-br from-black to-sky-950/50 flex flex-col items-center justify-center gap-2">
            <Item key={index} class="size-20 object-cover fill-white  stroke-white/50"/>
            <span class="font-bold font-Mukta">
                {componentNames[index]}
              </span>
          </div>
          ))
        }
      </div>
      <div class="marquee__group flex items-center justify-around gap-x-4">
        {items.map((Item,index) => (
          <div class="size-30 border border-white/20 p-2 rounded-md bg-gradient-to-b from-black to-sky-950/50 flex flex-col items-center justify-center gap-2">
            <Item key={index} class="size-20 object-cover fill-white  stroke-white/50"/>
            <span class="font-bold font-Mukta">
                {componentNames[index]}
              </span>
          </div>
          ))}
      </div>  
  </div>

</article>

<script>
  const marquee = document.getElementById("marquee")!;
  
  let isPaused = false;
  const pauseOnHover = "true";

  function togglePause(pause:boolean) {
    if (pauseOnHover) {
      isPaused = pause;
      marquee.classList.toggle("paused", isPaused);
    }
  }

  marquee.addEventListener("mouseenter", () => togglePause(true));
  marquee.addEventListener("mouseleave", () => togglePause(false));
  
</script>

<style>
  :root {
    --duration: 20s;
  }

  .marquee {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    mask-size: cover;
    mask-repeat: no-repeat;
  }

  .marquee__group {
    animation: scroll-x var(--duration) linear infinite;
  }

  @keyframes scroll-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .paused .marquee__group {
    animation-play-state: paused !important;
  }

</style>
