---
import GithubIcon   from "../assets/icons/Github.astro"
import CvFileIcon from "../assets/CvFile.astro"
import LinkedInIcon from "../assets/LinkedIn.astro"
import PillItem from "./PillItem.astro"
---
<div class="flex flex-col gap-y-2 md:flex-row items-center justify-center mt-7 gap-x-3 ">
  <PillItem href="https://github.com/OutziderDev/">
    <GithubIcon class="size-6 fill-cyan-500 group-hover:fill-cyan-500" />
        Github
  </PillItem>
  <PillItem href="https://www.linkedin.com/in/luis-barrios-de-le%C3%B3n-196401130/">
    <LinkedInIcon class="size-6 fill-cyan-500 group-hover:fill-cyan-500" />
    LinkedIn
  </PillItem>
  <PillItem href="#">
    <CvFileIcon class="size-6 fill-teal-400 group-hover:fill-teal-500" />
    Currículum
  </PillItem>  
</div>