---
import GithubIcon   from "../assets/icons/Github.svg"
import CvFileIcon from "../assets/CvFile.astro"
import LinkedInIcon from "../assets/LinkedIn.astro"
import Gmail from "../assets/Gmail.astro"
import PillItem from "./PillItem.astro"

---
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 items-center justify-center mt-7  text-white  font-Montserrat">
  <PillItem href="https://github.com/OutziderDev/">
    <GithubIcon class="size-6 fill-white group-hover:fill-black" />
    GitHub
  </PillItem>
  <PillItem href="https://www.linkedin.com/in/luis-barrios-de-le%C3%B3n-196401130/">
    <LinkedInIcon class="size-6 fill-cyan-500 group-hover:fill-cyan-500" />
    LinkedIn
  </PillItem>
  <PillItem href="/files/LuisBarriosCV.pdf">
    <CvFileIcon class="size-6  group-hover:fill-teal-500" />
    Currículum
  </PillItem> 
  <button
    type="button" 
    id="copyButton" 
    class="p-2 border border-gray-400/50 rounded-lg 
      flex gap-x-2 group cursor-pointer items-center justify-center
      hover:bg-white hover:text-black hover:scale-110 
      transition-all duration-300">
    <Gmail class="size-6"/>
    Gmail
  </button>
</div>

<div id="tooltip" class="hidden  animate-sliceFadeIn  absolute bottom-20 right-5 bg-gray-800 text-white/50 border-l-8 border-green-500 max-w-sm p-4 rounded-md gap-4 items-center justify-center ">
  <div class="bg-green-700 p-1 rounded-md ">
    <svg  xmlns="http://www.w3.org/2000/svg" class="stroke-green-200"  width="24"  height="24"   viewBox="0 0 24 24"  fill="none"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round" ><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" /><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" /></svg>
  </div>
  <p>Enlace copiado en el portapapeles. ¡Puedes Pegarlo! Win: Ctrl + V</p>
</div>

<style>
  .animate-sliceFadeIn{
    animation: sliderFade 0.3s ease-in;
  }
  @keyframes sliderFade {
    0%{
      transform: translateY(200px);
    }
    100%{
      transform: translateY(0);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", ()=>{
    const email: string = "luisbarrios0110@gmail.com"
    const copyButton : HTMLElement = document.getElementById("copyButton")!
    const tooltip: HTMLElement = document.getElementById("tooltip")!

    copyButton.addEventListener('click', ()=>{
      tooltip.classList.add('flex')
      tooltip.classList.remove('hidden')
      /* pego texto cuando es visible */
      navigator.clipboard.writeText(email)

      setTimeout(() => {
        tooltip.classList.add('hidden')
      }, 2100);
    })
  })
</script>

