---

---

<div class="">
  <header class="h-dvh w-full bg-slate-700 text-center text-6xl text-white hover:text-7xl hover:font-bold transition-all ease-in-out duration-500">
    Luis Barrios
  </header>
</div>

<style>
  header{
    background-image: url(../assets/background.svg) ;
  }
</style>