---
import SkillWall from '../components/SkillWall.astro';
import SectionTitle from '../components/SectionTitle.astro';
import ItemSeparated from '../components/ItemSeparated.astro';
---
<section id="about" class=` mt-20 text-white relative`>
  <div class="absolute top-0 -z-10 h-screen w-full bg-primary bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
  <ItemSeparated color="fill-primary" type="triangulo"/>

  <div class="max-w-4xl mx-auto p-3">
    <SectionTitle>
      Más sobre mí
    </SectionTitle>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 text-pretty ">

      <div class="col-span-2 md:col-span-1 order-1 font-Mukta flex flex-col gap-4 text-white/70">
        <p >
          Soy un<span class="font-bold text-white"> desarrollador de software de Panamá, con un año de experiencia</span> en el desarrollo de sistemas y aplicaciones web.
        </p>
        <p >
          Me apasiona el desarrollo de software y la tecnología; siempre busco mejorar mis habilidades explorando nuevas herramientas y creando soluciones innovadoras.
        </p>
        <p >
          Aunque me especializo en el desarrollo de sitios web modernos, también he trabajado en proyectos con tecnologías backend.
        </p>
        <p  >
          Estoy siempre dispuesto a capacitarme, aprender y aplicar mis conocimientos en proyectos colaborativos o freelance,
          <span class="text-white font-semibold">desarrollando soluciones eficientes, escalables y alineadas con buenas prácticas de programación.</span>
        </p>
        <p >
          En mi tiempo libre disfruto resolviendo puzzles, explorando la naturaleza a través del senderismo y programar.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center order-2">
        <h3 class="font-bold font-Montserrat mb-5 text-center text-xl">¡Algunas estadísticas de GitHub!</h3>
        <a href="https://github.com/OutziderDev/"  class="flex flex-col">
          <img src="https://streak-stats.demolab.com?user=OutziderDev&theme=codestackr&hide_border=true&locale=es"
            class="w-full h-40 object-cover hover:scale-103 transition"
            alt="GitHub Streak" 
            loading="lazy"
            decoding="async"
          />
          <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=OutziderDev&layout=compact&theme=dark&hide_border=true&locale=es"
            class="w-full h-45 object-cover hover:scale-103 transition"
            alt="GitHub Top Languages"
            loading="lazy"
            decoding="async"
          />
        </a>
        <!--<img src="https://github-readme-stats.vercel.app/api?username=OutziderDev&show_icons=true&theme=blue-green" loading="lazy" decoding="async" alt="GitHub Stats">-->
      </div>
      
      <div class="col-span-2 order-3">
        <h3 class="font-bold my-10 text-2xl font-Montserrat text-center md:text-start">Tecnologías y Herramientas</h3>
        <SkillWall  />
      </div>
    </div>
  </div>
</section>