---
import { Image } from 'astro:assets';
import SkillWall from '../components/SkillWall.astro';
import SectionTitle from '../components/SectionTitle.astro';
---
<article>
  <SectionTitle>
    Más sobre mí
  </SectionTitle>
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 text-pretty ">
    <div class="py-5 col-span-2 md:col-span-1 order-2 md:order-1 ">
      <p class="text-white/80 tracking-wider">
        Soy un apasionado por la tecnología, disfruto explorando tanto el mundo del software como del hardware. Me motiva el aprendizaje constante y compartir conocimientos con otros. 
        <span class="text-rose-400">Cuento con más de un año de experiencia en el desarrollo de sistemas y aplicaciones web.</span>
      </p>
      <p class="text-white/80 tracking-wider mt-6">
        En mi trayectoria, también he trabajado con distintas herramientas de diseño, edición y optimización de contenido.
      </p>
      <p class="text-white/80 mt-6 tracking-wider">
        Aplico mis conocimientos en proyectos tanto colaborativos como individuales, 
        desarrollando soluciones eficientes, escalables y alineadas con buenas prácticas de programación.
      </p>
      <!-- <p class="text-white/80 tracking-wide mt-6">
        En mi tiempo libre disfruto resolviendo puzzles, explorando la naturaleza a través del senderismo y sumergiéndome en la lectura.
      </p> -->
    </div>

    <div class="flex items-center justify-center py-5 order-1 md:order-2">  
      <Image
        height={1} 
        width={1} 
        src=`/files/perfil.webp` 
        class="rounded-md object-cover aspect-video size-80 grayscale hover:grayscale-0 hover:scale-110  hover:rotate-3 transition-all duration-200" 
        alt="Luis Barrios"
      >
    </div>

    <div class="col-span-2 order-3">
      <h3 class="font-bold my-10 text-2xl">Herramientas y tecnologías que manejo:</h3>
      <SkillWall  />  
    </div>
  </div>
</article>