---

---
<footer class="border-t my-5 text-center text-white/70">
  <p class="p-2 text-lg">
    Desarrollado con ❤️ por <a href="https://www.linkedin.com/in/luis-barrios-de-le%C3%B3n-196401130/" target="_blank" rel="noopener noreferrer">@LuisBarrios</a> - 2025, Derechos Reservados
  </p>
</footer>
