---

---
<footer id="footer" class="border-t border-white/40 my-5 text-center text-white/70 font-Montserrat max-w-4xl mx-auto mt-10">
  <p class="p-2 text-lg">
    Desarrollado con ❤️ por <a href="https://www.linkedin.com/in/luis-barrios-de-le%C3%B3n-196401130/" class="text-white font-bold" target="_blank" rel="noopener noreferrer">@LuisBarrios</a> - 2025, Derechos Reservados
  </p>
</footer>
