---
  import CardTimeline from '../components/CardTimeline.astro'
  import SectionTitle from '../components/SectionTitle.astro'
  import { estudios } from '../consts/estudios'
---
<section id="experiencia" class=`max-w-4xl mx-auto mt-20 p-3 text-white`>
  <SectionTitle >
    <span class="order-1 font-Montserrat"> 
      Formación Académica 
    </span>
  </SectionTitle>
  
  <div class="relative" id="timeline">

    <div class="absolute top-0 md:left-1/2 transform-cpu md:-translate-x-1/2 w-3 rounded-md timeline-line bg-gradient-to-b from-sky-900/80 to-sky-400/80"></div>

    <div class="flex flex-col  gap-y-2">
      {
        estudios.map( estudio => <CardTimeline {...estudio} />)
      }

    </div>
  </div>
  
</section>

<style>
  .timeline-line {
      /* background: linear-gradient(to bottom, rgb(133, 0, 0), #ff0000); */
      transition: height 0.5s ease-in-out;
  }
</style>

<script>
  window.addEventListener('scroll', function () {
      const timeline = document.getElementById('timeline')!;
      const timelineLine = document.querySelector('.timeline-line') as HTMLElement;
      const scrollPosition = window.scrollY + window.innerHeight;
      const timelineTop = timeline.offsetTop;
      const timelineHeight = timeline.scrollHeight;
      
      // Calcula el progreso del scroll (0 a 1)
      const progress = Math.max(0, Math.min(1, (scrollPosition - timelineTop) / timelineHeight));
      
      // Ajusta la altura de la línea según el progreso
      timelineLine.style.height = `${progress * 100}%`;
  });
</script>