---
import SocialPills from '../components/SocialPills.astro'
import ShiniText from "../components/ShiniText.astro"
---
<section id="hero" class=`animate-fadeIn`>
  <div class="absolute top-0 -z-10 h-screen w-full bg-primary bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
  
  <div class="mx-auto max-w-[1260px] px-2 pt-30 md:pt-40 flex flex-col">
    <div class="text-white px-3 py-1.5 gap-2 border rounded-full border-gray-400/70 inline-flex items-center justify-center self-center">
      <span class="relative flex">
        <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400/75 "></span>
        <span class="relative inline-flex size-3 rounded-full bg-green-500"></span>
      </span>
      Disponible para trabajar
    </div>

    <div class="mt-8">
      <h1 class="text-center text-4xl md:text-8xl font-bold text-white/95 font-Montserrat"> ¡Hola, yo soy </h1>
      <ShiniText text="Luis Barrios!" />
    </div>

    <!--  <h2 class="text-center text-white text-3xl md:text-5xl font-bold opacity-80">Desarrollador de Software</h2> -->

    <div class="text-center">
      <p class="text-white/70 tracking-wide text-xl mt-14">
        <span class="text-white font-bold">
          Desarrollador de Software 
        </span> 
        con más de un año de experiencia en el desarrollo de sistemas y páginas web.  
      </p>
      <p class="text-white/70 tracking-wide text-xl mb-5">
        Gracias a la creación de diversos proyectos y colaboraciones, he adquirido conocimientos fundamentales en una variedad de 
        <span class="text-white/80 font-bold">
          tecnologías de Front-end, Back-end y bases de datos.
        </span>  
        <!-- Aplico estos conocimientos siguiendo las mejores prácticas de programación para desarrollar soluciones personalizadas, innovadoras y escalables.  --> 
      </p>
    </div>

    <SocialPills/>

  </div>
</section>