---
import Cards from '../components/ProyectoCards.astro'
import SectionTitle from '../components/SectionTitle.astro'
import { proyectos } from '../consts/proyectos'

---
<article class="mb-52">
  <SectionTitle > &lt Proyectos /&gt </SectionTitle>

  <div class="flex flex-col gap-y-12 ">
    {proyectos.map( proyecto => <Cards {...proyecto}/>)}
  </div>

</article>