---
import Cards from '../components/ProyectoCards.astro'
import SectionTitle from '../components/SectionTitle.astro'
import { proyectos } from '../consts/proyectos'

---
<section id="proyectos" class=`max-w-4xl mx-auto mt-50 md:mt-20 p-3 text-white`>
  
  <SectionTitle > &lt Proyectos /&gt </SectionTitle>

  <section class="flex flex-col gap-y-12 ">
    {proyectos.map( proyecto => <Cards {...proyecto}/>)}
  </section>
  
</section>