---
import Cards from '../components/ProyectoCards.astro'
import { proyectos } from '../consts/proyectos'

---
<article class="mb-52">
  <h2 class="text-white font-bold text-4xl lg:text-6xl my-12">&lt; Proyectos /&gt;</h2>

  <div class="flex flex-col gap-y-12 ">
    {proyectos.map( proyecto => <Cards {...proyecto}/>)}
  </div>

</article>