---
import '../styles/global.css';

const pageTitle = 'Mi Portafolio Dev'
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
<!--     <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#0044cc_0%,#000_100%)]"></div>-->    
    <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#00ff_100%)]"></div>
    <slot/>
  </body>
</html>

<style>
  body {
    margin: 0;
  }
</style>
