---
import '@fontsource/luckiest-guy';
import Header from '../components/Header.astro';
const pageTitle = 'Luis Barrios - Portafolio Dev'
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>

    <meta property="og:title" content="Luis Barrios - Portafolio Dev">
    <meta property="og:description" content="Descubre mi portafolio digital donde presento mi experiencia, habilidades y proyectos de forma profesional">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://portafolio-dev-bay.vercel.app/portafolio.webp" />

    <meta name="description" content="Descubre mi portafolio digital donde presento mi experiencia, habilidades y proyectos de forma profesional">
    <link rel="canonical" href="https://portafolio-dev-bay.vercel.app/">
  </head>
  <body class="bg-primary scroll-smooth font-serif select-none scrollbar-custom ">
    <Header/>
    <slot/>
  </body> 
</html>

<style>
  html{
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
  }
</style>
