---
import Layout from "../../layouts/Layout.astro"
import Footer from "../../components/Footer.astro"
import {proyectos} from "../../consts/proyectos"
export function getStaticPaths() {
  return  proyectos.map((proyecto) =>({ params: { proyecto: proyecto.slug } }))
} 

const slug = Astro.params.proyecto
const selectData = proyectos.filter( proyecto => proyecto.slug === slug)
---

<Layout>
  <main class="max-w-7xl mx-auto p-4">
    <img src={`/${selectData[0].thumb}`} class="mt-20" alt="">
    <div class="mt-20  text-white">
        <ul class="flex gap-4 ">
            <li class="rounded px-6 py-2 bg-gradient-to-b from-rose-300/10 to-rose-600/20">Proyecto 1</li>
            <li class="rounded px-6 py-2 bg-gradient-to-b from-rose-300/10 to-rose-600/20">Proyecto 2</li>
            <li class="rounded px-6 py-2 bg-gradient-to-b from-rose-300/10 to-rose-600/20">Proyecto 3</li>
            <li class="rounded px-6 py-2 bg-gradient-to-b from-rose-300/10 to-rose-600/20">Proyecto 4</li>
            <li class="rounded px-6 py-2 bg-gradient-to-b from-rose-300/10 to-rose-600/20">Proyecto 5</li>
        </ul>
        <!-- <a href={demoUrl}
          target="_blank"
          rel="noopener noreferrer"
          class={ disable ? 'bg-gray-400 pointer-events-none w-full text-gray-950  rounded-lg font-semibold inline-flex items-center justify-center gap-2 mt-4  md:w-fit px-3 py-2 leading-none ' :  "bg-white w-full text-gray-950 rounded-lg font-semibold inline-flex items-center justify-center gap-2 mt-4 active:scale-95 transition-transform hover:bg-white/90 md:w-fit px-3 py-2 leading-none group"}
          >
            <span class="flex items-center gap-2 group" >
              Demo
              <div class="group-hover:-rotate-45 transition ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="size-4" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
              </div>
            </span>
        </a>
        <a href={gitUrl} target="_blank" rel="noopener noreferrer" class="bg-white w-full text-gray-950  rounded-lg font-semibold inline-flex items-center justify-center gap-2 mt-4 active:scale-95 transition-transform hover:bg-white/90 md:w-fit p-2 leading-none group">
            <span class=" flex items-center gap-2">
              Github
              <Github class="size-4"/>
            </span>
        </a> -->
    </div>
    <Footer/>

  </main>
</Layout>